{% extends 'base_search.html' %}

{% block dashbar %}
{% if user.first_name %}
<span style="font-size:0.8em;">logged in as</span><br/>
{% endif %}
<b>{{ user.first_name }} {{ user.last_name }} </b>
{% endblock %}
{% block topbar %}
<li><a href="{% url "corect.views.index" %}">Home</a></li>
{% if logged_in == "true" and registered == "true" %}
<li><a href="{% url "corect.views.subordinates" %}">Subordinates</a></li>
<li><a href="{% url "corect.views.change_profile" %}">Account</a></li>
{% endif %}
{% if logged_in == "true" and registered == "false" %}
<li><a href="{% url "corect.views.change_key" %}">Key</a></li>
<li><a href="{% url "corect.views.change_contact" %}">Contact</a></li>
{% endif %}
{% if logged_in == "false" %}
<li><a href="{% url "corect.views.check" %}">Track Complaint</a></li>
{% endif %}
{% if logged_in == "true" and registered == "true" %}
<li><a href="{% url "corect.views.history" %}">History</a></li>
<li><a href="{% url "corect.views.recent" %}">Recent <span class="badge">{{ n_recent }}</span></a></li>
<li><a href="{% url "corect.views.deadlines" %}">Deadlines <span class="badge">{{ n_deadlines }}</span></a></li>
{% endif %}
{% if logged_in == "false" %}
<li><a href="{% url "corect.views.form_a" %}">New Complaint</a></li>
{% endif %}
{% if logged_in == "true" %}
<li><a href="{% url "corect.views.leave" %}">Sign-out</a></li>
{% endif %}
{% endblock %}

{% block content %}
{% if error %}
<b style="text-align: left; color: red;">Changes not saved.</b>
<p style="text-align: left; color: red;">{{ error }}</p>
<br />
<br />
{% endif %}
<b>Change Contact Details:</b>
<br />
<br />
<table>
	<tr>
		<td>Current Phone:&nbsp;</td>
		<td><b>{{ officer.phone }}</b></td>
	</tr>
	<tr>
		<td>Current eMail:&nbsp;</td>
		<td><b>{{ officer.email }}</b></td>
	</tr>
</table>
</div>
<form action="{% url "corect.views.change_official_contact" %}" method="post" enctype="multipart/form-data">
	<div class="table-responsive">
		<table class="table table-striped">
			{% csrf_token %} {{ form.as_table }}
			<tr>
				<td></td>
				<td><input type="submit" id="submit" value="&nbsp;Save&nbsp;" /></td>
			</tr>
		</table>
	</div>
</form>
{% endblock %}
