{% extends 'base_a.html' %}

{% block topbar %}
<li><a href="{% url "corect.views.index" %}">Home</a></li>
{% if logged_in == "false" %}
<li class="active"><a href="{% url "corect.views.form_a" %}">New Complaint</a></li>
{% endif %}
<li><a href="{% url "corect.views.openlist" %}">Public</a></li>
{% if logged_in == "true" and registered == "true" %}
<li><a href="{% url "corect.views.subordinates" %}">Subordinates</a></li>
<li><a href="{% url "corect.views.change_profile" %}">Account</a></li>
{% endif %}
{% if logged_in == "true" and registered == "false" %}
<li><a href="{% url "corect.views.change_key" %}">Key</a></li>
<li><a href="{% url "corect.views.change_contact" %}">Contact</a></li>
{% endif %}
{% if logged_in == "false" %}
<li><a href="{% url "corect.views.check" %}">Track Complaint</a></li>
{% endif %}
{% if logged_in == "true" and registered == "true" %}
<li><a href="{% url "corect.views.history" %}">History</a></li>
<li><a href="{% url "corect.views.recent" %}">Recent <span class="badge">{{ n_recent }}</span></a></li>
<li><a href="{% url "corect.views.deadlines" %}">Deadlines <span class="badge">{{ n_deadlines }}</span></a></li>
{% endif %}
{% if logged_in == "true" %}
<li><a href="{% url "corect.views.leave" %}">Sign-out</a></li>
{% endif %}
{% endblock %}

{% block sidebar %}
<br />
<div class="table-responsive">
	<table class="table table-striped">
		<tr>
			<td><input type="checkbox" id="new_chk" /></td>
			<td>New Complaint</td>
		</tr>
		<tr>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td><input type="checkbox" id="old_chk" /></td>
			<td>Old complaint under process</td>
		</tr>
		<tr>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td><input type="checkbox" id="refer_chk" /></td>
			<td>Escalate complaint to a higher office for poor response to an earlier complaint</td>
		</tr>
	</table>
</div>
<br />
<div id="refer_form_div">
	<form action="{% url "corect.views.form_a" %}" method="post" enctype="multipart/form-data">
		<div class="table-responsive">
			<table class="table table-striped">
				{% csrf_token %} {{ form.as_table }}
				<tr>
					<td>&nbsp;</td>
					<td><input type="submit" name="submit_for_form_b" value="Next >" /></td>
				</tr>
			</table>
		</div>
	</form>
</div>
{% endblock %}

{% block content %}
<h3>Before you lodge a complaint.</h3>
<br />
<p>The complaint you lodge on CoRect will be forwarded to the
	concerned officer as well as the boss of the concerned officer. Read
	the instructions before you proceed.</p>
<p>If you are not satisfied with the result of your previous
	complaint you can complaint to a higher officer regarding
	unsatisfactory response.</p>
<h3>Instructions:</h3>
<ul>
	<li>Enter the location on this page to narrow down the list of
		offices. Example; If your complaint is with a district level office
		select State, Division &amp; District and leave others blank. If you
		are not sure about the location details select only the State.</li>

	<li>You must have a phone number or an email id to register a
		complaint on CoRect.</li>

	<li>If you have documents to support your complaint please make a
		single PDF document for uploading.</li>

	<li>You can chose to make the complaint visible to general public
		on our website. Complaints marked 'Hidden from public view' will not
		be visible to public online. If this field is unmarked people will be
		able to see your complaint on CoRect website.</li>

	<li>The complaint cannot be edited online once it is submitted.
		Carefully check your complaint before you save it.</li>
</ul>
<br />
{% endblock %}
