{% extends 'base_front.html' %}

{% block topbar %}
<li class="active" ><a href="{% url "corect.views.index" %}">Home</a></li>
{% if logged_in == "false" %}
<li><a href="{% url "corect.views.form_a" %}">New Complaint</a></li>
{% endif %}
<li><a href="{% url "corect.views.openlist" %}">Public</a></li>
{% if logged_in == "true" and registered == "true" %}
<li><a href="{% url "corect.views.subordinates" %}">Subordinates</a></li>
<li><a href="{% url "corect.views.change_profile" %}">Account</a></li>
{% endif %}
{% if logged_in == "true" and registered == "false" %}
<li><a href="{% url "corect.views.change_key" %}">Key</a></li>
<li><a href="{% url "corect.views.change_contact" %}">Contact</a></li>
{% endif %}
{% if logged_in == "false" %}
<li><a href="{% url "corect.views.check" %}">Track Complaint</a></li>
{% endif %}
{% if logged_in == "true" and registered == "true" %}
<li><a href="{% url "corect.views.history" %}">History</a></li>
<li><a href="{% url "corect.views.recent" %}">Recent <span class="badge">{{ n_recent }}</span></a></li>
<li><a href="{% url "corect.views.deadlines" %}">Deadlines <span class="badge">{{ n_deadlines }}</span></a></li>
{% endif %}
{% if logged_in == "true" %}
<li><a href="{% url "corect.views.leave" %}">Sign-out</a></li>
{% endif %}
{% endblock %}

{% block content %}

<style>
body{background: #f4f6f9;}
html,body{
    position: relative;
    height: 100%;
}

.login-container{
    position: relative;
    width: 300px;
    margin: 80px auto;
    padding: 20px 40px 40px;
    text-align: center;
    background: #fff;
    border: 1px solid #ccc;
}

#output{
    position: absolute;
    width: 300px;
    top: -75px;
    left: 0;
    color: #fff;
}

#output.alert-success{
    background: rgb(25, 204, 25);
}

#output.alert-danger{
    background: rgb(228, 105, 105);
}


.login-container::before,.login-container::after{
    content: "";
    position: absolute;
    width: 100%;height: 100%;
    top: 3.5px;left: 0;
    background: #fff;
    z-index: -1;
    -webkit-transform: rotateZ(4deg);
    -moz-transform: rotateZ(4deg);
    -ms-transform: rotateZ(4deg);
    border: 1px solid #ccc;

}

.login-container::after{
    top: 5px;
    z-index: -2;
    -webkit-transform: rotateZ(-2deg);
     -moz-transform: rotateZ(-2deg);
      -ms-transform: rotateZ(-2deg);

}

.avatar{
    width: 100px;height: 100px;
    margin: 10px auto 30px;
    border-radius: 100%;
    border: 2px solid #aaa;
    background-size: cover;
}

.form-box input{
    width: 100%;
    padding: 10px;
    text-align: center;
    height:40px;
    border: 1px solid #ccc;;
    background: #fafafa;
    transition:0.2s ease-in-out;

}

.form-box input:focus{
    outline: 0;
    background: #eee;
}

.form-box input[type="text"]{
    border-radius: 5px 5px 0 0;
    text-transform: lowercase;
}

.form-box input[type="password"]{
    border-radius: 0 0 5px 5px;
    border-top: 0;
}

.form-box button.login{
    margin-top:15px;
    padding: 10px 20px;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}
</style>

<div class="col-lg-2" style="padding-top: 50px; padding-bottom: 50px;">
</div>

<div class="col-lg-4" style="padding-top: 50px; padding-bottom: 50px;">
<h2>eGov CoRect</h2>
<h4>Fix the system, complaint by complaint.</h4>
<br/>
<h4><b><span class="label label-primary">Lodge complaint.</span></b></h4><h5>Sent to the concerned employees and their bosses.</h5>
<h4><b><span class="label label-primary">Track online.</span></b></h4><h5>No need to visit offices.</h5>
<h4><b><span class="label label-primary">Tackle inaction.</span></b></h4><h5>Take it higher if the response is poor, in one click.</h5>
</div>

<div class="col-lg-4">
<div class="login-container">
<h4>Login for officials:</h4>
<br/>
            <div class="form-box">
            {% if error %}
			<p style="text-align: left; color:red;">{{ error }}</p>
			{% endif %}
                <form action="{% url "corect.views.index" %}" method="post">
				{% csrf_token %}
                    <input type="text" id="username" name="username" placeholder="username">
                    <input type="password" id="password" name="password" placeholder="password">
                    <button class="btn btn-info btn-block login" type="submit" id="submit" value="&nbsp;log&nbsp;in">Login</button>
                </form>
            </div>
        </div>
</div>

<div class="col-lg-2" style="padding-top: 50px; padding-bottom: 50px;">
</div>
{% endblock %}