{% if not empty_mydeadlines %}
<h4 style="padding-top: 10px;">Your Deadlines</h4>
<div class="table-responsive">
	<table class="table">
		<tr>
			<th>ID</th>
			<th>Title</th>
			<th>Complainant</th>
			<th>Lodged</th>
			<th>Target Date</th>
		</tr>
		{% for c in complaints %}
		<tr class="{% cycle 'alt' 'none' %}">
			<td>&nbsp;{{ c.id }}&nbsp;</td>
			<td><a href="{% url "corect.views.detail_officer" c.id %}"> {{ c.title }} </a></td>
			<td>{{ c.name }}</td>
			<td>{{ c.datetime|date:"d M Y" }}</td>
			<td>{{ c.wake_up|date:"d M Y" }}</td>
		</tr>
		{% endfor %}
		{% if my_total_pages != 1 %}
		<tr>
			<td colspan="5">
				<div class="text-center">
					<input type="hidden" id="my_total_pages" value="{{ my_total_pages }}" />
					<ul class="pagination">
						<li><a href="#" id="my_first_button" onclick="my_first_button_fun();">1</a></li>
						<li><a href="#" id="my_previous_button" onclick="my_previous_button_fun();">&laquo;</a></li>
						{% for i in my_range %}
							{% if i == my_page %}
								<li><a href="#"><b style="color: grey;">{{ i }}</b></a></li>
							{% else %}
								{% if not i < 1 and not i > my_total_pages %}
									<li><a href="#" onclick="my_i_button_fun({{ i }});">
									{% if i < 10 %} &nbsp;{{ i }}&nbsp; {% else %} {{ i }} {% endif %}
									</a></li>
								{% else %}
									<li><a href="#">&nbsp;&nbsp;&nbsp;</a></li>
								{% endif %}
							{% endif %} 
						{% endfor %}
						<li><a href="#" id="my_next_button" onclick="my_next_button_fun();">&raquo;</a></li>
						<li><a href="#" id="my_last_button" onclick="my_last_button_fun();">{{ my_total_pages }}</a></li>
					</ul>
				</div>
			</td>
		</tr>
		{% endif %}
	</table>
</div>
{% else %}
<div class="table-responsive" style="padding-top: 10px;">
	<table class="table">
		<tr>
			<td><b>Your Deadlines</b></td>
		</tr>
		<tr>
			<td><b>The list is empty.</b></td>
		</tr>
	</table>
</div>
{% endif %}
